{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}

{% if page.academic_article %}
<link rel="stylesheet" href="{{ '/assets/css/academic-article.css' | relative_url }}">
<script src="{{ '/assets/js/academic-article.js' | relative_url }}" defer></script>
{% endif %}
